/* General Styles */
body {
    margin: 0;
    background-color: rgb(28, 28, 30);
    color: rgb(255, 255, 255);
    font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, p, footer {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

/* Headings */
h1 {
    margin: 3rem 0;
    font-size: 3rem; /* Make heading larger */
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;
}

/* Form Styles */
form {
    background-color: black;
    margin: 5%;
    padding: 2rem;
    border-radius: 2.5rem;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    color: rgb(204, 204, 204);
}

input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    color: rgb(28, 28, 30);
}

button {
    display: block;
    background-color: rgb(0, 122, 255);
    color: white;
    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    width: max-content;
}

button:hover {
    background-color: rgb(0, 90, 200);
}

/* Forgot Password Text */
.forgotPass {
    color: rgb(204, 204, 204);
    font-size: 1rem;
    margin: 2rem 0;
}

/* Footer Styles */
footer {
    margin: 2rem 0;
    margin-top: 4rem;
}

footer p {
    font-size: 0.9rem;
    color: rgb(204, 204, 204);
}

/* Social Icons */
a i {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    margin-right: 15px;
}

a i:hover {
    color: #0077b5;
}

.socials {
    display: inline;
}

.fa-brands, .fa-regular {
    color: white;
    margin-bottom: 2.5rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 480px) {
    h1 {
        margin: 1.5rem 0;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    form {
        margin: 2%;
    }

    input {
        padding: 0.8rem;
    }

    button {
        width: 90%;
    }

    p, .forgotPass {
        font-size: 0.9rem;
    }
}
